{% extends "base_site_login.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/util.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/sweetalert2/dist/sweetalert2.min.css') }}">
{% endblock stylesheets %}

{% block body_class %} login {% endblock body_class %}

{% block body %}    
<div class="wrap-login100" style="background-image: url('/static/login/images/{{picture}}');">
    <div class="login100">
        <form class="login100-form" id="login-form" method="post" autocomplete="off">
            <div class="wrap-input100">
                <input  autocomplete="off" class="input100" type="text" name="username"  required="required" autofocus>
                <span class="focus-input100"></span>
                <span class="label-input100">Username</span>
            </div>


            <div class="wrap-input100">
                <input  autocomplete="off" class="input100" type="password" name="password"  required="required">
                <span class="focus-input100"></span>
                <span class="label-input100">Password</span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn" type="submit" name="login" id="login" style="margin-right: 0;">
                    Login
                </button>
            </div>

        </form>
    </div>
</div>    

<script src="{{ url_for('static', filename='login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='login/vendor/animsition/js/animsition.min.js') }}"></script>
<script src="{{ url_for('static', filename='login/vendor/sweetalert2/dist/sweetalert2.min.js') }}"></script>
<script src="{{ url_for('static', filename='login/js/utils.min.js') }}"></script>
<script src="{{ url_for('static', filename='login/js/main.js') }}"></script>
<script src="{{ url_for('static', filename='login/js/login.min.js') }}"></script>
{% endblock body %}
