{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
{{ super() }}
<style>
img.avatar-view {
    width: 200px;
}
.profile_title {
    background: none !important;
}
</style>
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                   
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">                                    
                                    <img class="img-responsive avatar-view" src="/static/images/no-avatar.png" alt="Avatar">
                                </div>
                            </div>
                            <h3>{{ user['fullname'].upper() }}</h3>

                            <ul class="list-unstyled user_data">
                                <li>
                                    <i class="fa fa-map-marker user-profile-icon"></i> {{ user['sensor'] }}
                                </li>

                                <li>
                                    <i class="fa fa-briefcase user-profile-icon"></i> {{ user['role'] }}
                                </li>

                                <li class="m-top-xs">
                                    <i class="fa fa-envelope"></i> {{ user['email'] }}
                                </li>                                                                
                            </ul>

                            <a class="btn btn-xs btn-dark" id="change_password"><i class="fa fa-edit m-right-xs"></i> Change password</a>
                            <br />      
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Identifier modal -->
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change your password</h4>
            </div>

            <div class="modal-body">
                <form id="pwd-form" method="post" class="form-horizontal form-label-left">
                    <input type="hidden" id="user_id" name="user_id" value="{{ user['user_id'] }}"/>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Current password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="c_pwd" id="c_pwd">
                        </div>                        
                    </div>
                    <br/>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">New password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="n_pwd" id="n_pwd">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Confirm password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="a_pwd" id="a_pwd">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">close</button>
                <button type="button" class="btn btn-primary" id="passwordModalSubmit" onclick="change_password()">Change</button>
            </div>
            </div>
        </div>
    </div>
    <!-- ./END Identifier modal-->
</div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='build/js/users/profile.js') }}"></script>
{% endblock javascripts %}